.image {
    height: 100px;
    line-height: 100px;
    background: #FFF;
    text-align: center;
    border: 1px solid transparent;
    cursor: move;
    opacity: 1;

    &.active {
        // border: 1px red dashed;
        opacity: 0.4;
    }

    &:hover {
        border: 1px red dashed;
    }
}